<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web-project.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    
    <title>Baby sign language</title>
   <style>
 .w3-card-4:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
   </style>

</head>







<body>


    <!-- الجزء العلوي من الصفحه -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
   
         <!-- ازرار تودينا لقسم الهوم والتوبيكس-->
        <a href="#home" class="w3-button"><button class="w3-button">Home</button></a>
        <a href="#topics" class="w3-button"><button class="w3-button">Topics</button></a>
        

      <div class="w3-right w3-hide-small">

         <!-- زر لتسجيل حساب جديد-->

        <a href="signup.hbs" class="w3-bar-item w3-button">Register</a>
        




        <!-- زر لتسجيل الدخول-->
        <a href="login.hbs" class="w3-bar-item w3-button">Login</a>


      </div>
    </div>
  </div>
  








  <!-- Second Parallax Image with Portfolio Text
   w3-opacity-min -->
  
  <div class="w3-display-container" id="home">
    <img class="w3-image" src="background.JPG" alt="background" width="800" height="600">

      <img class="w3-wide w3-animate-opacity w3-image w3-display-middle" src="web-logo-removebg-preview.jpg" alt="logo" width="500" height="500">

      <div class="display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large text-back w3-animate-opacity">
        Baby Sign Language To Teaching Childern Through Visulals 
      </span>
    </div>
  </div>



           <!-- قسم المواضيع "our topics" -->
    <div class="w3-row-padding" id="about">
        <div class="w3-center w3-padding-64">
        <span id="topics" class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Our Topics</span>
    </div>

    <!-- الموضوع الاول: الارقام -->


    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="Numbers.JPEG" alt="Math" style="width:81%">
        <div class="w3-container">
          <h3>Learn About Math</h3>
          <p class="w3-opacity">This section includs:</p>
          Learning about the sign language numbers.
          <br>
          Discover the magic of sign language numbers from one to ten! Join the journey!         <br>
          <br>
         
          <p>
             
          <div class="w3-dropdown-hover w3-right">

                   
                
              <button class="w3-button btn btn-outline-secondary dropdown-toggle">How many?</button>
              
              <div class="w3-dropdown-content w3-bar-block dropdown-menu" style="right:0">
                   <a href="Q1.hbs" class="w3-bar-item w3-button">5 numbers</a>
                   <a href="Q2.hbs" class="w3-bar-item w3-button">10 numbers</a>
                </div>
                  

               
                </div>
                

            <div class="w3-clear"></div>
        </p>

        </div>
      </div>
    </div>





    <!-- الموضوع الثاني: الالوان -->
    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="colors.JPEG" alt="Math" style="width:85% ">
          <div class="w3-container">
            <h3>Learn About Sign Colors</h3>
            <p class="w3-opacity">This section includs:</p>
            Learning about sign colors name. 
            <br>
            We have got up to nine colors to learn, Lets Go!! 
            <br>
            <br>
            
           
            <p>
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button btn btn-outline-secondary dropdown-toggle">How many?</button>
                <div class="w3-dropdown-content w3-bar-block dropdown-menu" style="right:0">
                     <a href="color1.hbs" class="w3-bar-item w3-button">Three Colors</a>
                     <a href="color2.hbs" class="w3-bar-item w3-button">Six Colors</a>
                     <a href="color3.hbs" class="w3-bar-item w3-button">Nine Colors</a>
                  </div>
                  </div>
  
              <div class="w3-clear"></div>
          </p>
  
          </div>
        </div>
      </div>






    <!-- الموضوع الثالث: اللغه -->
    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="language2.JPEG" alt="Math" style="width:85%">
        <div class="w3-container">
          <h3>Learn About Sign Letters</h3>
          <p class="w3-opacity">This section includs:</p>
          learn how to do the sign letters.
          <br>
          Let's have fun hearing letters!! 
          <br>
          <br>
         
          <p>
          <div class="w3-dropdown-hover w3-right">
                   <a href="language.hbs" style="right:0" class="w3-button btn btn-outline-secondary w3-bar-item w3-button">Lets Hear!</a>
                </div>
            <div class="w3-clear"></div>
        </p>
        </div>
      </div>
    </div>

       <!-- الموضوع الرابع: التحيات -->
    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="greeting.JPEG" alt="greeting" style="width:81%">
        <div class="w3-container">
          <h3>Learn About Sign Greeting</h3>
          <p class="w3-opacity">This section includs:</p>
          Learn how to greet in sign language.
          <br>
          Let's learn it and use it always! 
          <br>
          <br>
         
          <p>
          <div class="w3-dropdown-hover w3-right">
                   <a href="greeting.hbs" style="right:0" class="w3-button btn btn-outline-secondary w3-bar-item w3-button">Lets Learn!</a>
                </div>
            <div class="w3-clear"></div>
        </p>
        </div>
      </div>
    </div>






    <!-- نهاية الصفحة -->
</div>
<br>
<br>
<br>
<br>
<br>




<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  
  <p class="p">&copy; 2023 Hailah-Deema-Reem-Layan </p>
</footer>

</body>
</html>