<!doctype html>
<html>
    <head>
        <title>Letter Names</title>
    <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

<body>


        <!-- الجزء العلوي من الصفحه -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:3px;">
   
         <!-- ازرار تودينا لقسم الهوم والتوبيكس-->
        <a href="home.hbs" class="w3-button"><button class="w3-button">Home</button></a>
        <img class="w3-wide w3-animate-opacity w3-image w3-display-middle" src="web-logo-removebg-preview.jpg" alt="logo" width="70" height="70" style="left: 1300px;">

      </div>
</div>


  <div>
    <div id="top" class="w3-display-container w3-image">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-middle w3-center w3-padding-large text-back w3-animate-opacity">Learn Letter Sounds
        </h1>
        
    </div>
    <br>
</div>

<div>
    <div class="w3-display-container w3-image">

        <h4>
            Come on, type a letter to hear its sound!
        </h4>
     
    </div>
</div>



<div>
    <div class="w3-display-container w3-image">
        <input class="display-middle text_box" placeholder="type letters only...">
        <br>
        <br>

    </div>
    <br>
    <br>
    <br>

</div>

    <div class="wrapper">
        <div class="keys" id="keyIDPressed"></div>
        <div class="keys" id="keyID"></div>
    </div>



</div>
<br>
<br>
<br>
<br>
<br>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
         <a href="#top" class="w3-button w3"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
         <p>&copy; 2023 Hailah-Deema-Reem-Layan  </p>
    </footer>
</body>

<script src="script.js"></script>

</html>